body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#titulo {
    margin-bottom: 20px;
}

#tablero {
    font-size: 2em;
    line-height: 2.5em; /* esto separa las filas */
    text-align: center;
    white-space: pre; /* conserva los espacios y saltos de línea */
}

#tablero span {
    display: inline-block;
    width: 2em; /* ancho de cada celda */
}
